body{
    background-color:#3eb094;
}
     ul{
        margin: 0;
        padding: 0;
     }
      
     
      .navbar {
        background-color: rgb(14, 13, 13);
        overflow:scroll;
        border-radius: 8px;
      }
      
     
      .navbar a {
        position: relative;
        float: left;
        display: flex;
        color: #8fdbc4;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        border-radius: 8px;
        
      }
      
      
      .navbar a:hover {
        background-color: rgb(118, 231, 235);
        color: #333;
      }
      
      
      .navbar a {
        transition: background-color 2.5s ease;
      }
body{ background-image: url('pattern.png');
    background-repeat: repeat}
    body {
        background-color: #0b453d;
    }
    
    .pattern {
        position: absolute;
        top: 0.5;
        left: 0.5;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(45deg,#00473e(187, 151, 151) 25%, transparent 25%, transparent 75%, #999 75%, #999 100%), linear-gradient(45deg, #999 25%, transparent 25%, transparent 75%, #999 75%, #999 100%);
        background-size: 50px 50px;
    }
  h1{
     font-size:3.4rem;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h1{
    color: transparent;
    -webkit-text-stroke: 3px #7bf0cd;
    position: relative;
  }
  h1:hover {
    color: #7bf0cd;
    transition: 1s ease-in-out;
  }
  h1::before{
    content: "The introduction text";
    position:absolute;
    width: 0%;
    height:100%;
    overflow: hidden;
    border: right 8px solid #7bf0cd;
    transition: 1s ease-in-out;
    

  }
  h1:hover::before{
    width: 100%;
    filter: drop-shadow(0 0 25px #3dbb95);
  }
  
*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;



}

.wrapper {
width:100%;
height:100vh;
display: flex;
align-items: center;




}

.container {
    height: 400px;
    display: flex ;
}

.card {
    width: 80px;
   border-radius: .75rem; 
   background-size: cover;
   cursor: pointer;
   overflow: hidden;
   border-radius: 2rem;
   margin: 0 10px;
   display: flex;
   align-items: flex-end;
   transition: .6s  cubic-bezier(.28,-0.03,0.99);
   box-shadow: 0px 10px 30px -5px rgba(0,0,0,0,8);
}

.card > .row {
 color: #7bf0cd;
 display: flex;
 flex-wrap: nowrap;
}

.card > .row > .icon {
background: #223;
color: white;
border-radius: 50%;
width: 50px;
display: flex;
justify-content: center;
align-items: center;
margin: 15px;

}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity:0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;

}

.description p {
    color: #b0b0ba;
    padding-top:5px ;

}

.description h4 {
    text-transform: uppercase;
}


input {
display: none;
}

input:checked+label {

    width: 600px;
}

input:checked+label .description {


    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card [for="c1"]