body{
    background-color:#3eb094;
}
     ul{
        margin: 0;
        padding: 0;
     }
      
     
      .navbar {
        background-color: rgb(14, 13, 13);
        overflow:scroll;
        border-radius: 8px;
      }
      
     
      .navbar a {
        position: relative;
        float: left;
        display: flex;
        color: #8fdbc4;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        border-radius: 8px;
        
      }
      
      
      .navbar a:hover {
        background-color: rgb(118, 231, 235);
        color: #333;
      }
      
      
      .navbar a {
        transition: background-color 2.5s ease;
      }
body{ background-image: url('pattern.png');
    background-repeat: repeat}
    body {
        background-color: #0b453d;
    }
    
  .container2{

    min-height: 100vh;
    background: rgb(12, 11, 11);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("space.jpg") no-repeat center center/cover;

  }  
  .container2 form{
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: rgb(0, 0, 0,0.5);
    border-radius: 15px;
    background: #0b453d;
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
  }


  .container2 form h2{
    color: aliceblue;
    font-weight: 500;
    margin-top: 20px;
    width:500px;
    text-align: center;


  }
  

  .container2 form input{

    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom:10px;
    background: none;
    border-bottom: 2px solid #8fdbc4;
    
  }


  .container2 form input::placeholder{

    color:#8fdbc4
  }

  .container2 from #lastName,
  .container2 from #Mobile{
    margin-left: 20px;
  }

  .container2 form h4{
    color: aqua;
    font-weight: 300;
    
  }